<div class="container">
    <div class="row">
        <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
            <div class="row g-3">
                <div *ngFor="let i of data" class="col col-12 col-sm-6 col-md-4 col-lg-4 col-xl-3 col-xxl-3">
                    <div class="card">
                        <img height="300px" src="{{i.image}}" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">{{i.title}}</h5>
                          <p class="card-text">Rs.{{i.price}}</p>
                          <a href="#" class="btn btn-primary">BUY</a>
                        </div>
                      </div>
                </div>
            </div>
        </div>
    </div>
</div>
